.wrapper_img:before {
  content: "";
  z-index: 2;
  position: absolute;
  background: #9277ff;
  width: 6.4375rem;
  height: 3.25rem;
  right: 0;
  bottom: 0;
  border-start-start-radius: 1.25rem;
  border-end-end-radius: 1.25rem;
}
