.button {
  border: 0.0625rem solid #dfe3fa;
}
.button:hover {
  border: 0.0625rem solid #7c5dfa !important;
}
.active {
  border: 0.0625rem solid #7c5dfa !important;
}
.bt {
  border-top: 0.0625rem solid #dfe3fa !important;
}
.shadow {
  box-shadow: 0rem 0.625rem 1.25rem 0rem rgba(72, 84, 159, 0.25);
}
