@media (max-width: 48rem) {
  .button {
    min-width: 2rem;
  }
  .button img {
    width: 1.2492rem;
    height: 1.2441rem;
  }
}

@media (max-width: 23.4375rem) {
  .button {
    min-width: 1.25rem !important;
  }
  .button img {
    width: 1.2492rem;
    height: 1.2441rem;
  }
}
