@media (max-width: 768px) {
  .container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    padding: 32px;
    border-radius: 0px;
  }
  .container_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .container_grid > :nth-child(3) {
    grid-column: span 2;
  }
  .container_datepicker {
    display: flex;
    flex-direction: column;
  }
  .fieldset {
    margin-bottom: 100px;
  }
}
