.card {
  padding: 1rem 2rem;
}

.card:hover {
  outline: 0.0625rem solid #7c5dfa;
  transition: 0s;
}

@media (max-width: 48rem) {
  .card {
    padding: 1rem 1.5rem;
  }
  .wrapper_id {
    gap: 1.75rem;
  }
  .wrapper_data {
    gap: 3rem;
  }
}
