.container {
  display: block;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
}
.container .input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  transition: 0s;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: #eee;
  border-radius: 0.125rem;
}
.container:hover .input ~ .checkmark {
  background: #dfe3fa;
  border: 0.0625rem solid var(--01, #7c5dfa);
}

.container:hover .input:checked ~ .checkmark {
  background-color: #ff0a54;
}

.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.5625rem;
  top: 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .input:checked ~ .checkmark:after {
  display: block;
}
